# TODO: Setup later when/if ssl is enabled for flatpak

#begin-hirs-conf

[mariadb]
log_error=/var/tmp/mariadb/log/mariadb.err
general_log
general_log_file=mariadb.log
ssl-ca=/var/tmp/hirs/certificates/mysql/hirs.ca.cert
ssl-cert=/var/tmp/hirs/certificates/mysql/hirs-cert.pem
ssl-key=/var/tmp/hirs/certificates/mysql/hirs-key.pem

#end-hirs-conf
