# TODO: Setup later when/if ssl is enabled for flatpak

#begin-hirs-conf

[mariadb]
log_error=/var/log/mysql/mariadb.err
general_log
general_log_file=mariadb.log
ssl-ca=/var/data/hirs/certificates/mysql/hirs.ca.cert
ssl-cert=/var/data/hirs/certificates/mysql/hirs-cert.pem
ssl-key=/var/data/hirs/certificates/mysql/hirs-key.pem

#end-hirs-conf
